In [3]:
#sets
set1 = {"roger", "syd"}
set2 = {"roger"}
intersect = set1 & set2
mod1 = set1 | set2
mod2 = set1 - set2
mod3 = set1 > set2
print(mod3)
print(mod2)
print(mod1)
print(intersect)

True
{'syd'}
{'syd', 'roger'}
{'roger'}

In [11]:
#funtion

def hello(name, age):
  print('hello' + name + ",you are" +  str(age) +  "years old")
hello("Beau", 39)

def change(value):
  value = 2
val = 1
change (val)
print(val)

helloBeau,you are39years old
1

In [18]:
#funtions

def hello(name):
  print('hello' + name + '!')
  return name, "beau",8
  print(hello("syd"))

In [29]:
#funtions

def counter():
    count = 0
    def increment():
      nonlocal count
      count = count + 1
      return count

    return increment
increment = counter()
print(increment()) #1
print(increment()) #2
print(increment()) #3

1
2
3

In [26]:
#Objects
items = [1, 2]
items.append(3)
items.pop()
print(id(items))

139063650186496

In [31]:
#Loops

count = 0
while count < 10:
  print("The condition is True")
  count = count + 1

  print("After the loop")

The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop
The condition is True
After the loop

In [35]:
#Loops

for item in range(15):
  print(item)
items = [1, 2, 3, 4]
for index, item in enumerate(items):
  print(index, item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0 1
1 2
2 3
3 4

In [40]:
#Classes

class Animal:
  def walk(self):
    print("walking...")

class Dog(Animal):
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def bark(self):
    print("woof!")

roger = Dog("Roger", 8)

print(roger.name)
print(roger.age)
roger.bark()
roger.walk()

Roger
8
woof!
walking...

In [44]:
#Lambda Function

lambda num : num * 2

multiply = lambda a, b : a * b

print(multiply(2, 4))

8

In [46]:
#map(), filter(), reduce()

numbers = [1, 2,  3]

def double(a):
  return a * 2

result = map(double, numbers)

print(list(result))

[2, 4, 6]